<div class="profile-f">

    <div class="profile-f col-8"
        style="background-color: rgb(4, 179, 4);border-radius: 20px;border: 1px solid gray;margin-bottom: 10px;opacity: 0.7;">
        <img src="../../../assets/Cattura-3.png" style="width: 120px;height: 100px;">
    </div>
    <!--
    <div *ngIf="showAlert" class="alert alert-danger color-alert col-8 colll-" style="text-align: center;" role="alert">
        Selected a
        time!
        <div data-bs-theme="dark" style="float: right;">
            <button type="button" class="btn-close" aria-label="Close" (click)="showAlert=false"></button>
        </div>
    </div>
-->

    <div class="card col-6">
        <div class="card-body">

            <div class="profile-flex">
                <div class="user" style="padding-top: 5px;">
                    <i class="bi bi-person-fill" style="padding-top: 5px;color: gainsboro;"></i>
                    {{username}}
                </div>
                <div class="score" style="padding-top: 5px;">
                    <i class="bi bi-trophy-fill" style="padding-top: 5px;color: rgb(248, 222, 53);"></i>
                    {{score}}
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="profile-f mt-2">
    <div class="card col-6" style="border: none;">
        <div class="card-body">
            <div class="profile-flex">
                <div class="time-1 col-3 coll-" style="padding-top: 5px;">
                    <button [ngClass]="timeGame==5?'selected':null" type="button"
                        class="btn btn-outline-light col-12 colll-" (click)="setTime(5)">5min</button>
                </div>
                <div class="time-2 col-3 coll-" style="padding-top: 5px;">
                    <button [ngClass]="timeGame==10?'selected':null" type="button"
                        class="btn btn-outline-light col-12 colll-" (click)="setTime(10)">10min</button>
                </div>
                <div class="time-3 col-3 coll-" style="padding-top: 5px;">
                    <button [ngClass]="timeGame==30?'selected':null" type="button"
                        class="btn btn-outline-light col-12 colll-" (click)="setTime(30)">30min</button>
                </div>

            </div>
        </div>
    </div>
</div>
-->
<div class="profile-f">
    <button type="button" class="btn btn-primary col-3 coll-" (click)="play()">Play now
        <i class="bi bi-play-fill"></i>
    </button>
</div>

<div class="profile-f">
    <button type="button" class="btn btn-danger col-3 coll-" (click)="logout()">Logout <i class="bi bi-box-arrow-right"
            style="margin-left: 20px;"></i></button>
</div>