<div class="f-flex">
    <div class="card col-6 coll-">
        <div class="card-header">
            SIGNUP
        </div>


        <div class="c-flex">
            <div class="mb-2 col-10 coll-">
                <label class="col-5 col-form-label">Name</label>
                <div class="col-12">
                    <input type="text" class="form-control" placeholder="Enter your name">
                </div>
            </div>
            <div class="mb-2 col-10 coll-">
                <label class="col-5 col-form-label">Surname</label>
                <div class="col-12">
                    <input type="text" class="form-control" placeholder="Enter your Surname">
                </div>
            </div>
            <div class="mb-2 col-10 coll-">
                <label for="staticEmail" class="col-5 col-form-label">Username</label>
                <div class="col-12">
                    <input type="text" class="form-control" placeholder="Player">
                </div>
            </div>
            <div class="mb-2 col-10 coll-">
                <label for="inputPassword" class="col-5 col-form-label">Password</label>
                <div class="col-12">
                    <input type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <div class="mb-2 col-10 coll-">
                <label class="col-5 col-form-label">Confirm Password</label>
                <div class="col-12">
                    <input type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <div class="flex-c col-10 mb-3 mt-3 coll-">
                <button type="button" class="btn btn-primary" (click)="signup()">Signup</button>
            </div>
        </div>
    </div>
</div>