<div class="profile-f">
    <div class="card col-6">
        <div class="card-body">
            <div class="profile-flex">
                <div class="user" style="padding-top: 5px;">
                    <i class="bi bi-person-fill" style="padding-top: 5px;color: gainsboro;"></i>
                    Simo_c
                </div>
                <div class="score" style="padding-top: 5px;">
                    <i class="bi bi-trophy-fill" style="padding-top: 5px;color: rgb(248, 222, 53);"></i>
                    1000
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-f">
    <button type="button" class="btn btn-primary col-2">Play now
        <i class="bi bi-play-fill"></i>
    </button>
</div>

<div class="profile-f">
    <button type="button" class="btn btn-danger col-2">Logout <i class="bi bi-box-arrow-right"
            style="margin-left: 20px;"></i></button>
</div>